<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="{{ request.baseName }}">

    <title>{% trans "Admin" %}</title>

    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}

</head>
<body>

<header>
    <h1>
        <a href="{{ url('admin', {'controller': 'Vox\\Admin\\Controller\\Base'}) }}">{% trans "Panel" %}</a>
    </h1>

    <nav>
        {% include 'Vox:Admin:menu' with { collection: menu.children } %}
    </nav>
</header>

{% if flashbag.has %}
<ul id="flashbag">
    {% for message in flashbag %}
    <li class="message {{ message.type }}"><p>{{ message.message|translate }}</p></li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
{% endblock %}

<footer>
</footer>

</body>
</html>
